<div class="row text-center">
  <h1>A web development agency.</h1>
  <p>We build custom websites & apps to tell your story, improve conversion rates, and make your business processes more efficient and effective.</p>
</div>
<div class="row text-center">
  <div class="col-md-6 col-sm-12">
    <h1>Build Light</h1>
    <p>We believe in a lean build process, tackling a project's critical problem first and then iteratively adding features on that foundation.</p>
  </div>
  <div class="col-md-6 col-sm-12">
    <h1>Build Right</h1>
    <p>Your website will look its best on any screen and every device.</p>
  </div>
</div>
<div class="row text-center">
  <h1>Clients and Partners</h1>
  <p>A few of the people we've worked for and with over the years.</p>
</div>
<div class="row text-center">
  <h1>Get In Touch</h1>
  <p>See if we can help you with your next project.</p>
  <button class="btn btn-primary">Contact Us</button>
</div>
