<div class="row featured-project fp-1">
  <div class="fp-image col-xs-12 col-sm-12 col-md-6"><img src="\images\autotrader.png"></div>
  <div class="fp-text col-xs-12 col-sm-12 col-md-6">
    <h1>Fantastic Project Yo</h1>
    <p>Herp derpsum perp dee derp, mer herderder. Sherp berp derpler, herpem serp tee perper merpus terp dee. Sherpus berps herpsum herpler. Berps herderder herpsum herpderpsmer herp? Derperker der herpler derp derpsum berps perp sherpus. Merpus mer perper derpler perp tee. Berps derpus, derpler ler mer nerpy herpem derp der derps.</p>
    <button class="btn btn-default">View case study</button>
  </div>
</div>
<div class="row featured-project fp-2">
  <div class="fp-image col-xs-12 col-sm-12 col-md-6 pull-right"><img src="\images\cummins.png"></div>
  <div class="fp-text col-xs-12 col-sm-12 col-md-6">
    <h1>Dude! Great Website</h1>
    <p>Herp derpsum perp dee derp, mer herderder. Sherp berp derpler, herpem serp tee perper merpus terp dee. Sherpus berps herpsum herpler. Berps herderder herpsum herpderpsmer herp? Derperker der herpler derp derpsum berps perp sherpus. Merpus mer perper derpler perp tee. Berps derpus, derpler ler mer nerpy herpem derp der derps.</p>
    <button class="btn btn-default">View case study</button>
  </div>
</div>
<div class="row featured-project fp-3">
  <div class="fp-image col-xs-12 col-sm-12 col-md-6"><img src="\images\morrisgroup.png"></div>
  <div class="fp-text col-xs-12 col-sm-12 col-md-6">
    <h1>Featured Project Numero Tres</h1>
    <p>Herp derpsum perp dee derp, mer herderder. Sherp berp derpler, herpem serp tee perper merpus terp dee. Sherpus berps herpsum herpler. Berps herderder herpsum herpderpsmer herp? Derperker der herpler derp derpsum berps perp sherpus. Merpus mer perper derpler perp tee. Berps derpus, derpler ler mer nerpy herpem derp der derps.</p>
    <button class="btn btn-default">View case study</button>
  </div>
</div>
<div class="row featured-project fp-4">
  <div class="fp-image col-xs-12 col-sm-12 col-md-6 pull-right"><img src="\images\rollins.png"></div>
  <div class="fp-text col-xs-12 col-sm-12 col-md-6">
    <h1>Another Project</h1>
    <p>Herp derpsum perp dee derp, mer herderder. Sherp berp derpler, herpem serp tee perper merpus terp dee. Sherpus berps herpsum herpler. Berps herderder herpsum herpderpsmer herp? Derperker der herpler derp derpsum berps perp sherpus. Merpus mer perper derpler perp tee. Berps derpus, derpler ler mer nerpy herpem derp der derps.</p>
    <button class="btn btn-default">View case study</button>
  </div>
</div>
<div class="row featured-project fp-5">
  <div class="fp-image col-xs-12 col-sm-12 col-md-6"><img src="\images\youcaring.png"></div>
  <div class="fp-text col-xs-12 col-sm-12 col-md-6">
    <h1>Project That Kicks Butt</h1>
    <p>Herp derpsum perp dee derp, mer herderder. Sherp berp derpler, herpem serp tee perper merpus terp dee. Sherpus berps herpsum herpler. Berps herderder herpsum herpderpsmer herp? Derperker der herpler derp derpsum berps perp sherpus. Merpus mer perper derpler perp tee. Berps derpus, derpler ler mer nerpy herpem derp der derps.</p>
    <button class="btn btn-default">View case study</button>
  </div>
</div>
